@media (max-width: 1025px) {
  .header .container {
    padding: 0 30px;
  }
  .project-plan2 {
    padding: 44px 0 200px;
  }

  .project-text {
    width: 251px;
    font-size: 19px;
  }

}

@media (max-width: 900px) {
  .main .container {
    width: 375px;
    height: 173px;
  }
  .content-wrapper1 {
    margin-top: 26px;
  }
  .project-plan {
    padding-top: 23px;
  }
  .project-plan2 {
    padding: 44px 0 96px;
  }
  .project-text {
    width: 272px;
    font-size: 18px;
  }



  .bag-content {
    padding: 13px 0;
  }


}

@media (max-width: 794px) {
  .content-wrapper {
    display: block;
  }
  .content-wrapper1 {
    display: block;
  }
  .project-text {
    width: 348px;
    font-size: 26px;
    margin: 41px auto;
  }

  .mini-content {
    text-align: center;
    margin-top: 64px;
  }





  .icon {
    display: flex;
    margin: 90px 0 63px;
    gap: 40px;
  }
}

@media (max-width: 650px) {
}

@media (max-width: 580px) {
  .main .container {
    width: 279px;
    height: 89px;
  }
  .main-title {
    font-size: 35px;
  }


  .icon {
    display: flex;
    justify-content: center;
    margin: 29px 0 50px;
  }





}
